<%- include("partials/header.ejs") %>

<body>
    <div class="pricing-container">
      <div class="pricing-plan">
        <div class="plan-photo edit"> <img src="images/cat.jpeg" alt="Image of a phone taken" 
          class = "plan-image"/>
        
          <form action="/" method="POST">
            <input name="title" type="text" class="feedback-input" placeholder="Title" value="<%= title  %>" />
            <input name="name" type="text" class="feedback-input" placeholder="Author" value="<%= name %>" />
            <textarea name="text" class="feedback-input" placeholder="Comment"><%= text %></textarea>
            <input type="submit" value="SUBMIT" name="submit" />
            <input type="submit" value="CANCEL" name="submit"/>
          </form>
        </div> 
               
    </div>
  </body>

  <%- include("partials/footer.ejs") %>